@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
.__red {
  color: #ff5050;
}

.__blue {
  color: #5bc1ec;
}

.__yellow {
  color: #fff06a;
}

.__green {
  color: #6fe289;
}

.__pink {
  color: #ffa4f6;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  background-color: #f3f3f3;
  padding: 1.25rem 2rem;
  font-size: 1.6rem;
  color: #1b2226;
  border: none;
  outline: none;
  font-weight: 700;
  box-shadow: inset 0 0 0 0 #f3f3f3;
  transition: all 0.5s;
  text-decoration: none;
  display: inline-block;
}
.button:hover {
  cursor: pointer;
  color: #1b2226;
  transition: all 0.5s;
}
.button.__red {
  background-size: 0 100%;
  background-image: linear-gradient(to right, #ff5050, #ff5050);
  background-repeat: no-repeat;
}
.button.__red:hover, .button.__red:focus, .button.__red:active {
  background-image: linear-gradient(to left, #ff5050, #ff5050);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.button.__blue {
  background-size: 0 100%;
  background-image: linear-gradient(to right, #5bc1ec, #5bc1ec);
  background-repeat: no-repeat;
}
.button.__blue:hover, .button.__blue:focus, .button.__blue:active {
  background-image: linear-gradient(to left, #5bc1ec, #5bc1ec);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.button.__yellow {
  background-size: 0 100%;
  background-image: linear-gradient(to right, #fff06a, #fff06a);
  background-repeat: no-repeat;
}
.button.__yellow:hover, .button.__yellow:focus, .button.__yellow:active {
  background-image: linear-gradient(to left, #fff06a, #fff06a);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.button.__green {
  background-size: 0 100%;
  background-image: linear-gradient(to right, #6fe289, #6fe289);
  background-repeat: no-repeat;
}
.button.__green:hover, .button.__green:focus, .button.__green:active {
  background-image: linear-gradient(to left, #6fe289, #6fe289);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.button.__pink {
  background-size: 0 100%;
  background-image: linear-gradient(to right, #ffa4f6, #ffa4f6);
  background-repeat: no-repeat;
}
.button.__pink:hover, .button.__pink:focus, .button.__pink:active {
  background-image: linear-gradient(to left, #ffa4f6, #ffa4f6);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button-wrap {
  display: inline-block;
  padding: 2rem;
}

.submit-button-wrap {
  position: absolute;
  right: -1.8rem;
  bottom: -6.7rem;
  padding: 1rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  background: #1b2226;
  color: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2rem;
}

.main-logo {
  display: inline-block;
  padding: 3rem 0;
  text-decoration: none;
  color: #f3f3f3;
}
.main-logo:hover, .main-logo:focus {
  color: #f3f3f3;
}

.author {
  padding: 3rem 0;
  font-size: 1.6rem;
}
.author-name {
  font-size: 2rem;
  font-weight: 700;
  color: #f3f3f3;
  text-decoration: none;
  position: relative;
}
.author-name::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  transition: all 0.4s ease;
  background: linear-gradient(to right, #ff5050, #5bc1ec, #fff06a, #6fe289, #ffa4f6);
}
.author-name:hover, .author-name:focus {
  color: #f3f3f3;
}
.author-name:hover::after, .author-name:focus::after {
  width: 100%;
}

.home {
  padding: 3rem 0 9rem 0;
}
@media screen and (min-width: 992px) {
  .home {
    padding: 5rem 0 15rem 0;
    font-weight: 700;
  }
}
.home-text {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
.home-form {
  padding: 6rem 0;
  border: 0.8rem solid #f3f3f3;
  border-radius: 4px;
  position: relative;
}
.home-form-icon {
  font-size: 8rem;
  margin-bottom: 2rem;
}
.home-form-text {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.pagenotfound,
.servererror {
  padding: 3rem 0 9rem 0;
}
@media screen and (min-width: 992px) {
  .pagenotfound,
.servererror {
    padding: 5rem 0 15rem 0;
    font-weight: 700;
  }
}
.pagenotfound-title,
.servererror-title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */