// imports
@import "partials/config";
@import "partials/mixins";
@import "partials/modifiers";
@import "partials/reset";
@import "partials/button";

// styles
html {
	font-size: 62.5%;
}

body {
	font-family: $font-family;
	background: $color-dark;
	color: $color-light;
}

// headings
h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
	text-transform: uppercase;
}

h1 {
	font-size: 6.4rem;
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 3.6rem;
}

h4 {
	font-size: 2.8rem;
}

h5 {
	font-size: 2rem;
}

.main-logo {
	display: inline-block;
	padding: 3rem 0;
	text-decoration: none;
	color: $color-light;

	&:hover,
	&:focus {
		color: $color-light;
	}
}

.author {
	padding: 3rem 0;
	font-size: 1.6rem;

	&-name {
		font-size: 2rem;
		font-weight: 700;
		color: $color-light;
		text-decoration: none;
		position: relative;

		&::after {
			content: "";
			display: inline-block;
			width: 0;
			height: 2px;
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;
			transition: all 0.4s ease;
			background: linear-gradient(
				to right,
				$color-red,
				$color-blue,
				$color-yellow,
				$color-green,
				$color-pink
			);
		}

		&:hover,
		&:focus {
			color: $color-light;

			&::after {
				width: 100%;
			}
		}
	}
}

// homepage
.home {
	padding: 3rem 0 9rem 0;

	@media screen and (min-width: $lg) {
		padding: 5rem 0 15rem 0;
		font-weight: 700;
	}

	&-text {
		font-size: 2rem;
		margin-bottom: 1.6rem;
	}

	&-form {
		padding: 6rem 0;
		border: 0.8rem solid $color-light;
		border-radius: 4px;
		position: relative;

		&-icon {
			font-size: 8rem;
			margin-bottom: 2rem;
		}

		&-text {
			font-weight: 700;
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
}

// 404 + 500 pages
.pagenotfound,
.servererror {
	padding: 3rem 0 9rem 0;

	@media screen and (min-width: $lg) {
		padding: 5rem 0 15rem 0;
		font-weight: 700;
	}

	&-title {
		font-size: 4rem;
		margin-bottom: 0.5rem;
	}
}
