// font
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
$font-family: "Nunito", sans-serif;

// color palette
$color-dark: #1b2226;
$color-light: #f3f3f3;
$color-red: #ff5050;
$color-blue: #5bc1ec;
$color-yellow: #fff06a;
$color-green: #6fe289;
$color-pink: #ffa4f6;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
